<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="David Majda (david@majda.cz)">
    <meta name="copyright" content="Copyright &copy; 2010&ndash;2012 David Majda">
    <meta name="keywords" content="parser generator, PEG, JavaScript">
    <meta name="description" content="PEG.js is a parser generator for JavaScript based on the parsing expression grammar formalism.">
    <title><%- title ? title + " &raquo; " : "" %>PEG.js &ndash; Parser Generator for JavaScript</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/layout-online.css">
    <link href="/vendor/codemirror-4.0/lib/codemirror.css" rel="stylesheet" >
    <link href="/vendor/codemirror-4.0/theme/cobalt.css" rel="stylesheet" >
  </head>
  <body>
    <div id="content">
      <%- body %>
    </div>
  </body>
</html>
